In [1]:
# Citi Bike Data Screening - 2020/06/24 - Randy Dettmer
import pandas as pd
import csv

In [2]:
# combine data into data sets by half year - 2019 & 2020
# used glob to speed up loading
import glob
filename = glob.glob("Resources/JC-20*.csv")
df = []
for file in filename:
    print("Reading" + file)
    df.append(pd.read_csv(file))

ReadingResources\JC-201901-citibike-tripdata.csv
ReadingResources\JC-201902-citibike-tripdata.csv
ReadingResources\JC-201903-citibike-tripdata.csv
ReadingResources\JC-201904-citibike-tripdata.csv
ReadingResources\JC-201905-citibike-tripdata.csv
ReadingResources\JC-201906-citibike-tripdata.csv
ReadingResources\JC-201907-citibike-tripdata.csv
ReadingResources\JC-201908-citibike-tripdata.csv
ReadingResources\JC-201909-citibike-tripdata.csv
ReadingResources\JC-201910-citibike-tripdata.csv
ReadingResources\JC-201911-citibike-tripdata.csv
ReadingResources\JC-201912-citibike-tripdata.csv
ReadingResources\JC-202001-citibike-tripdata.csv
ReadingResources\JC-202002-citibike-tripdata.csv
ReadingResources\JC-202003-citibike-tripdata.csv
ReadingResources\JC-202004-citibike-tripdata.csv
ReadingResources\JC-202005-citibike-tripdata.csv

In [3]:
# concat dataframes
df1 = pd.concat(df)
# pickle data - to help with integrity of data and reduce file size
df1.to_pickle("Stuff/citibikedata.pk1")
# Unfortunately this file is too big for GitHub

In [4]:
# read pickle data back in
df2 = pd.read_pickle("Stuff/citibikedata.pk1")
# how many observations and variables are there with this data set
df2.shape

(505993, 15)

In [5]:
# list columns in dataframe
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505993 entries, 0 to 25076
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             505993 non-null  int64
 1   starttime                505993 non-null  object
 2   stoptime                 505993 non-null  object
 3   start station id         505993 non-null  int64
 4   start station name       505993 non-null  object
 5   start station latitude   505993 non-null  float64
 6   start station longitude  505993 non-null  float64
 7   end station id           505993 non-null  int64
 8   end station name         505993 non-null  object
 9   end station latitude     505993 non-null  float64
 10  end station longitude    505993 non-null  float64
 11  bikeid                   505993 non-null  int64
 12  usertype                 505993 non-null  object
 13  birth year               505993 non-null  int64
 14  gender                   505993 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 61.8+ MB

In [6]:
# starting here - split starting and ending station data from main data
# number of starting stations
df2["start station id"].unique().shape

(53,)

In [7]:
# print list starting stations
ssid = df2['start station id'].unique()
print(ssid)

[3183 3184 3185 3186 3187 3191 3192 3193 3194 3195 3196 3198 3199 3201
 3202 3203 3205 3206 3207 3209 3210 3211 3212 3213 3214 3220 3225 3267
 3268 3269 3270 3272 3273 3275 3276 3277 3278 3279 3280 3281 3426 3481
 3483 3638 3639 3640 3677 3678 3679 3681 3694 3791 3792]

In [8]:
# create starting station dataframe
dfsid = pd.DataFrame(df2.loc[:,["start station id", "start station name", "start station latitude", "start station longitude"]])
dfsid.drop_duplicates(subset="start station id", keep='first', inplace=True)

In [9]:
# verify load into dataframe
dfsid.head()

,start station id,start station name,start station latitude,start station longitude
0,3183,Exchange Place,40.716247,-74.033459
817,3184,Paulus Hook,40.714145,-74.033552
1184,3185,City Hall,40.717733,-74.043845
1687,3186,Grove St PATH,40.719586,-74.043117
4348,3187,Warren St,40.721124,-74.038051

In [10]:
# save starting station data 2019-2020 as one csv
dfsid.to_csv("startstation.csv", sep = ",", encoding="utf-8", index=False)

In [11]:
# number of ending stations
df2["end station id"].unique().shape

(128,)

In [12]:
# print list of ending station numbers
df2['end station id'].unique()

array([3214, 3638, 3192, 3205, 3277, 3196, 3202, 3267, 3183, 3681, 3270,
       3184, 3185, 3639, 3186, 3207, 3272, 3187, 3273, 3481, 3199, 3276,
       3203, 3213, 3269, 3225, 3275, 3278, 3209, 3483, 3212, 3193, 3279,
       3211, 3194, 3210, 3195, 3268, 3677, 3679, 3280, 3640, 3694, 3198,
       3201, 3206, 3678, 3191, 3220, 3281, 3426, 3709,  514,  523,  513,
        459,  327,  224, 3472, 3002,  477,  468, 3170, 3258,  526,  358,
       3541,  303,  311, 3168, 3750,  487,  195, 3791,  315,  383,  426,
        504,  447,  524, 3360, 3686,  337, 3167, 3664,  217, 3547, 3461,
       3792,  505,  484,  279,  304,  285,  456, 3435,  464,  347, 3540,
        116,  127, 3674, 3467,  363,  496,  309,  319,  392,  351,  128,
        376,  525,  355,  254,  268,  442,  146,  377,  519, 2008, 3256,
         83, 3649,  244, 3992, 3623,  476,  480], dtype=int64)

In [13]:
# create ending station dataframe
dfeid = pd.DataFrame(df2.loc[:,["end station id", "end station name", "end station latitude", "end station longitude"]])
dfeid.drop_duplicates(subset="end station id", keep='first', inplace=True)

In [14]:
# verify load into dataframe
dfeid.head()

,end station id,end station name,end station latitude,end station longitude
0,3214,Essex Light Rail,40.712774,-74.036486
1,3638,Washington St,40.724294,-74.035483
2,3192,Liberty Light Rail,40.711242,-74.055701
5,3205,JC Medical Center,40.716540,-74.049638
6,3277,Communipaw & Berry Lane,40.714358,-74.066611

In [15]:
# save end station data 2018-2020 as one csv
dfeid.to_csv("endstation.csv", sep = ",", encoding="utf-8", index=False)

In [16]:
# starting here - clean columns and save data
# remove columns no longer required from stations
df2.drop(columns=['start station name','start station latitude','start station longitude', 'end station name', 
                  'end station latitude', 'end station longitude'], inplace=True)

In [17]:
# verify column removal
df2.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,3214,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,3638,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,3192,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,3638,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,3638,29522,Customer,1969,0

In [18]:
# save combined data 2019-2020 as one csv
# Unfortunately this file is too big for GitHub
df2.to_csv("Stuff/bikedata.csv", sep = ",", encoding="utf-8", index=False)

In [19]:
# starting here - save data by half year 2019/2020
# split data into half year to minimize file size
df2019a = df2[df2["starttime"] < "2020-01-01"]
df2019a.tail()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,3679,29245,Customer,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,3205,26153,Subscriber,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,3185,26276,Subscriber,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,3186,29461,Subscriber,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,3280,29123,Subscriber,1988,1

In [20]:
# split off first half of data for 2019
df2019A=df2019a[df2019a["starttime"] < "2019-07-01"]
df2019A.tail()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,3191,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,3191,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,3191,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,3213,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,3186,29551,Subscriber,1988,1

In [21]:
# save first half of 2019 data
df2019A.to_csv("bikedata2019A.csv", sep = ",", encoding="utf-8", index=False)

In [22]:
# split off second half of data for 2019
df2019b=df2019a[df2019a["starttime"] >= "2019-07-01"]
df2019b.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,3198,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,3280,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,3205,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,3281,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,3281,29230,Customer,1989,1

In [23]:
# save second half of 2019 data
df2019b.to_csv("bikedata2019B.csv", sep = ",", encoding="utf-8", index=False)

In [24]:
# split off data for 2020
df2020=df2[df2["starttime"] >= "2020-01-01"]
df2020.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,3211,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,3269,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,3269,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,3280,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,3276,29276,Subscriber,1983,2

In [25]:
# save 2020 data (only 5 months available as of 2020/06/24)
df2020.to_csv("bikedata2020.csv", sep = ",", encoding="utf-8", index=False)

In [26]:
# end of file