In [42]:
#Citi Bike Data Screening - 2020/06/23 - Randy Dettmer
import pandas as pd
import csv

In [43]:
#combine data into data sets by half year - 2018 & 2019 & 2020
import glob
filename = glob.glob("JC-20*.csv")
df = []
for file in filename:
    print("Reading" + file)
    df.append(pd.read_csv(file))

ReadingJC-201801-citibike-tripdata.csv
ReadingJC-201802-citibike-tripdata.csv
ReadingJC-201803-citibike-tripdata.csv
ReadingJC-201804-citibike-tripdata.csv
ReadingJC-201805-citibike-tripdata.csv
ReadingJC-201806-citibike-tripdata.csv
ReadingJC-201807-citibike-tripdata.csv
ReadingJC-201808-citibike-tripdata.csv
ReadingJC-201809-citibike-tripdata.csv
ReadingJC-201810-citibike-tripdata.csv
ReadingJC-201811-citibike-tripdata.csv
ReadingJC-201812-citibike-tripdata.csv
ReadingJC-201901-citibike-tripdata.csv
ReadingJC-201902-citibike-tripdata.csv
ReadingJC-201903-citibike-tripdata.csv
ReadingJC-201904-citibike-tripdata.csv
ReadingJC-201905-citibike-tripdata.csv
ReadingJC-201906-citibike-tripdata.csv
ReadingJC-201907-citibike-tripdata.csv
ReadingJC-201908-citibike-tripdata.csv
ReadingJC-201909-citibike-tripdata.csv
ReadingJC-201910-citibike-tripdata.csv
ReadingJC-201911-citibike-tripdata.csv
ReadingJC-201912-citibike-tripdata.csv
ReadingJC-202001-citibike-tripdata.csv
ReadingJC-202002-citibike-tripdata.csv
ReadingJC-202003-citibike-tripdata.csv
ReadingJC-202004-citibike-tripdata.csv
ReadingJC-202005-citibike-tripdata.csv

In [44]:
#concat dataframes
df1 = pd.concat(df)
#pickle data
df1.to_pickle("citibikedata.pk1")

In [45]:
#read pickle data
df2 = pd.read_pickle("citibikedata.pk1")
#how many observations and variables are there  with this data set (859885, 15)
df2.shape

(859885, 15)

In [46]:
#list columns in dataframe
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 859885 entries, 0 to 25076
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             859885 non-null  int64
 1   starttime                859885 non-null  object
 2   stoptime                 859885 non-null  object
 3   start station id         859885 non-null  int64
 4   start station name       859885 non-null  object
 5   start station latitude   859885 non-null  float64
 6   start station longitude  859885 non-null  float64
 7   end station id           859885 non-null  int64
 8   end station name         859885 non-null  object
 9   end station latitude     859885 non-null  float64
 10  end station longitude    859885 non-null  float64
 11  bikeid                   859885 non-null  int64
 12  usertype                 859885 non-null  object
 13  birth year               859885 non-null  int64
 14  gender                   859885 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 105.0+ MB

In [47]:
#starting here - split starting and ending station data from main data
#number of starting stations (61)
df2["start station id"].unique().shape

(61,)

In [48]:
#list starting stations
ssid = df2['start station id'].unique()
print(ssid)

[3183 3184 3185 3186 3187 3188 3189 3190 3191 3192 3193 3194 3195 3196
 3198 3199 3200 3201 3202 3203 3205 3206 3207 3209 3210 3211 3212 3213
 3214 3216 3217 3220 3225 3267 3268 3269 3270 3271 3272 3273 3274 3275
 3276 3277 3278 3279 3280 3281 3426 3481 3638 3639 3640 3483 3677 3678
 3679 3681 3694 3791 3792]

In [49]:
#create starting station dataframe
dfsid = pd.DataFrame(df2.loc[:,["start station id", "start station name", "start station latitude", "start station longitude"]])
dfsid.drop_duplicates(subset="start station id", keep='first', inplace=True)

In [50]:
#verify load into dataframe
dfsid.head()

,start station id,start station name,start station latitude,start station longitude
0,3183,Exchange Place,40.716247,-74.033459
756,3184,Paulus Hook,40.714145,-74.033552
1097,3185,City Hall,40.717733,-74.043845
1432,3186,Grove St PATH,40.719586,-74.043117
3148,3187,Warren St,40.721124,-74.038051

In [51]:
# save starting station data 2018-2020 as one csv
dfsid.to_csv("startstation.csv", sep = ",", encoding="utf-8", index=False)

In [52]:
#number of ending stations (177)
df2["end station id"].unique().shape

(177,)

In [53]:
#list of ending station numbers
df2['end station id'].unique()

array([3199, 3267, 3639, 3203, 3205, 3275, 3281, 3269, 3187, 3194, 3185,
       3276, 3184, 3481, 3183, 3213, 3192, 3214, 3272, 3211, 3207, 3273,
       3209, 3202, 3270, 3279, 3186, 3638, 3210, 3278, 3220, 3190, 3198,
       3196, 3268, 3225, 3195, 3271, 3191, 3640, 3280, 3277, 3212, 3206,
       3426, 3193, 3189, 3216, 3188, 3201, 3200, 3217,  520,  514,  327,
       3274,  303,  377,  309,  462, 3541,  537, 3681, 3677, 3483, 3679,
       3678,  427,  472, 3415, 3002,  501,  426,  304,  319,  457,  525,
        212, 3552,  447,  505,  157, 3311, 3547, 2006, 3163, 3256,  276,
       3467,  331, 3694,  398,  526,  486,  508,  478,  359, 3461,  376,
        513,  498,  345, 3539,  167,  264,  453,  417,  127,  306, 3356,
        422,  146,  353,  380,  534,  336, 2023, 3400,  448,  259, 3165,
        254,  459,  482, 3709,  523,  224, 3472,  477,  468, 3170, 3258,
        358,  311, 3168, 3750,  487,  195, 3791,  315,  383,  504,  524,
       3360, 3686,  337, 3167, 3664,  217, 3792,  484,  279,  285,  456,
       3435,  464,  347, 3540,  116, 3674,  363,  496,  392,  351,  128,
        355,  268,  442,  519, 2008,   83, 3649,  244, 3992, 3623,  476,
        480], dtype=int64)

In [54]:
#create ending station dataframe
dfeid = pd.DataFrame(df2.loc[:,["end station id", "end station name", "end station latitude", "end station longitude"]])
dfeid.drop_duplicates(subset="end station id", keep='first', inplace=True)

In [55]:
#verify load into dataframe
dfeid.head()

,end station id,end station name,end station latitude,end station longitude
0,3199,Newport Pkwy,40.728745,-74.032108
3,3267,Morris Canal,40.712419,-74.038526
4,3639,Harborside,40.719252,-74.034234
5,3203,Hamilton Park,40.727596,-74.044247
7,3205,JC Medical Center,40.716540,-74.049638

In [56]:
# save end station data 2018-2020 as one csv
dfeid.to_csv("endstation.csv", sep = ",", encoding="utf-8", index=False)

In [57]:
# starting here - clean columns and save data
# remove columns no longer required from stations
df2.drop(columns=['start station name','start station latitude','start station longitude', 'end station name', 
                  'end station latitude', 'end station longitude'], inplace=True)

In [58]:
#verify column removal
df2.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,3199,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,3199,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,3199,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,3267,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,3639,31861,Subscriber,1991,1

In [59]:
# save combined data 2018-2020 as one csv
# Unfortunately this file is too big for GitHub
#df2.to_csv("bikedata.csv", sep = ",", encoding="utf-8", index=False)

In [60]:
# starting here - save data by half year 2018/2019/2020
# split data into half year to minimize file size
df2018a = df2[df2["starttime"] < "2019-01-01"]
df2018a.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,3199,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,3199,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,3199,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,3267,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,3639,31861,Subscriber,1991,1

In [61]:
# split off first half of data for 2018
df2018A=df2018a[df2018a["starttime"] < "2018-07-01"]
df2018A.tail()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
40932,1227,2018-06-30 20:46:55.7500,2018-06-30 21:07:22.9730,3681,3209,29197,Subscriber,1979,2
40933,1219,2018-06-30 20:47:02.7610,2018-06-30 21:07:22.1720,3681,3209,33633,Customer,1969,0
40934,1227,2018-06-30 20:47:03.1250,2018-06-30 21:07:30.3560,3681,3209,26297,Subscriber,1987,2
40935,252,2018-06-30 21:13:35.6890,2018-06-30 21:17:48.5690,3681,3267,29482,Subscriber,1979,2
40936,652,2018-06-30 22:03:44.8150,2018-06-30 22:14:37.5310,3681,3199,29235,Subscriber,1982,1

In [62]:
# save first half of 2018 data
df2018A.to_csv("bikedata2018A.csv", sep = ",", encoding="utf-8", index=False)

In [63]:
# split off second half of data for 2018
df2018B=df2018a[df2018a["starttime"] >= "2018-07-01"]
df2018B.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,1234,2018-07-01 02:08:39.8920,2018-07-01 02:29:14.4890,3183,3183,26306,Customer,1969,0
1,1041,2018-07-01 02:09:07.5180,2018-07-01 02:26:28.8720,3183,3183,29204,Customer,1969,0
2,2308,2018-07-01 02:14:45.7400,2018-07-01 02:53:14.5970,3183,3183,26234,Customer,1969,0
3,767,2018-07-01 02:25:12.4020,2018-07-01 02:38:00.0510,3183,3183,26238,Subscriber,1992,1
4,151,2018-07-01 04:07:44.0520,2018-07-01 04:10:15.8010,3183,3275,29204,Subscriber,1972,1

In [64]:
# save second half of 2018 data
df2018B.to_csv("bikedata2018B.csv", sep = ",", encoding="utf-8", index=False)

In [65]:
# split 2019 data into half year to minimize file size
df2019a = df2[df2["starttime"] >= "2019-01-01"]
df2019a.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,3214,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,3638,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,3192,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,3638,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,3638,29522,Customer,1969,0

In [66]:
# split off first half of data for 2019
df2019A=df2019a[df2019a["starttime"] < "2019-07-01"]
df2019A.tail()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
39425,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,3191,29197,Customer,1986,1
39426,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,3191,26262,Customer,1990,2
39427,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,3191,29241,Subscriber,1979,1
39428,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,3213,26254,Subscriber,1982,1
39429,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,3186,29551,Subscriber,1988,1

In [67]:
# save first half of 2019 data
df2019A.to_csv("bikedata2019A.csv", sep = ",", encoding="utf-8", index=False)

In [68]:
# split off second half of data for 2019
df2019b=df2019a[df2019a["starttime"] >= "2019-07-01"]
df2019b.tail()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
25072,395,2020-05-31 23:35:50.9460,2020-05-31 23:42:26.5300,3202,3276,42250,Subscriber,1992,1
25073,1681,2020-05-31 23:38:30.8240,2020-06-01 00:06:32.0360,3199,3199,42396,Customer,1997,1
25074,1657,2020-05-31 23:39:07.2680,2020-06-01 00:06:44.5740,3199,3199,42331,Customer,1987,1
25075,420,2020-05-31 23:45:28.3290,2020-05-31 23:52:28.3680,3195,3679,40517,Subscriber,1999,1
25076,87,2020-05-31 23:50:55.8390,2020-05-31 23:52:23.0920,3272,3211,42314,Subscriber,1976,1

In [69]:
# remove 2020 data
df2019B=df2019b[df2019b["starttime"] < "2020-01-01"]
df2019B.tail()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,3679,29245,Customer,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,3205,26153,Subscriber,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,3185,26276,Subscriber,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,3186,29461,Subscriber,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,3280,29123,Subscriber,1988,1

In [70]:
# save second half of 2019 data
df2019B.to_csv("bikedata2019B.csv", sep = ",", encoding="utf-8", index=False)

In [71]:
# split off data for 2020
df2020=df2019b[df2019b["starttime"] >= "2020-01-01"]
df2020.head()

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,3211,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,3269,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,3269,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,3280,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,3276,29276,Subscriber,1983,2

In [72]:
# save 2020 data
df2020.to_csv("bikedata2020.csv", sep = ",", encoding="utf-8", index=False)

In [ ]:
# end of file